{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="contacts">
    <div class="contacts-text">
        <h2>Kontaktai</h2>
    </div>
    <div class="all-contacts">
        <div class="contacts-info">
            <a href="#">
            <img src="{% static 'home/image/call.png' %}">
            </a>
            <p>Tel. nr.: +37066763845</p>
        </div>
        <div class="contacts-info">
            <a href="mailto: misko.terapijai@gmail.com">
            <img src="{% static 'home/image/mail.png' %}">
            </a>
            <p>El. paštas: misko.terapijai@gmail.com</p>
        </div>
        <div class="contacts-info">
            <a href="https://goo.gl/maps/hKvNTVcg1Ni4T4Ho8">
            <img src="{% static 'home/image/pin_drop_copy.png' %}">
            </a>
            <p>Lokacija: Miško terapija, Žukonys, Varėna, 65248, Lietuva</p>
        </div>
    </div>
</div>
{% endblock content %}