{% extends 'base.html' %}
{% block content %}
<div class="home">
    <div class="home-title">
        <h2>Miško terapija</h2>
        <p>Lėtam, jaukiam ir privačiam poilsiui miške. Kai norisi miško magiją derinti su patogiu pasibūvimu.</p>
    </div>
    <div class="houses">
        {% for house in houses %}
        <div class="house">
            <a href="{% url 'house' house.pk %}">
            <img src="{{ house.main_image.url }}">
            </a>
            <div class="house-name">
                <h4>{{ house.name }}</h4>
                <div class="house-reservation-button">
                <a href="{% url 'house' house.pk %}">
                    <p>Rezervuoti</p>
                </a>
            </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<div class="reviews">
    <div class="reviews-text">
        <p>Pažiūrėkite, kodėl jums patiks mūsų erdvė</p>
    </div>
    <div class="customer-reviews">
        <div class="review-group">
            {% for review in reviews %}
                {% if forloop.counter|divisibleby:2 %}
                    <div class="review-left">
                        <div class="review-left-logo">
                            <img src="static/home/image/music_note.png">
                        </div>
                        <h4>{{ review.title }}</h4>
                        <p>{{ review.content }}</p>
                    </div>
                {% else %}
                    <div class="review-right">
                        <div class="review-right-logo">
                            <img src="static/home/image/music_note.png">
                        </div>
                        <h4>{{ review.title }}</h4>
                        <p>{{ review.content }}</p>
                    </div> 
                {% endif %}
            {% endfor %}
        </div> 
    </div>
</div>
{% endblock content %}