{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="background-block">
    <div class="login">
        <h2 class="login-heading">Update</h2>
        <form method="POST" class="login-form" enctype="multipart/form-data">
            {% csrf_token %}
            <div>
                <label for="id_images">Images:</label>
                <input required name="images" id="id_images" type="file" multiple>
            </div>
            <button class="login-button" type="submit">Update</button>
        </form>
    </div>
    <div class="delete-gallery">
        <h2>Delete gallery photos</h2>
        <div class="gallery">
            <form method="POST">
                {% csrf_token %}
                <div class="gallery-item">
                {% for image in images %}
                    <img src="{{ image.photo.url }}">
                    <input type="checkbox" name="image_ids" value="{{ image.id }}">
                {% endfor %}
                </div>
                <button class="login-button" type="submit">Delete Selected</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}
