{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="background-block">
    <div class="login">
        <h2 class="login-heading">Update</h2>
        <form method="POST" class="login-form" enctype="multipart/form-data">
            {% csrf_token %}
            <div>
                <label for="id_name">Name:</label>
                {{ form.name }}
            </div>
            <div>
                <label for="id_main_image">Main image:</label>
                {{ form.main_image }}
            </div>
            <div>
                <label for="id_image">Image:</label>
                <input required name="images" id="id_images" type="file" multiple>
            </div>
            <div>
                <label for="id_guests">Guests:</label>
                {{ form.guests }}
            </div>
            <div>
                <label for="id_beds">Beds:</label>
                {{ form.beds }}
            </div>
            <div>
                <label for="id_content">Content:</label>
                {{ form.content }}
            </div>
            <button class="login-button" type="submit">Update</button>
        </form>
    </div>
</div>
{% endblock content %}