{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="background-block block">
    <div class="delete-gallery">
        <h2>Delete reservation</h2>
        <div class="reservation">
            <form method="POST">
                {% csrf_token %}
                <div class="gallery-item">
                {% for client in clients %}
                    <div class="reservation-date">
                        {{ client.name }} - {{ client.reservation }} 
                        <input type="checkbox" name="client_ids" value="{{ client.id }}">
                    </div>
                {% endfor %}
                </div>
                <button class="login-button" type="submit">Delete Selected</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}
