.home {
    display: flex;
    padding: 64px;
    flex-direction: column;
    align-items: center;
    gap: 64px;
    background: #EAE1CD;
}

.home-title {
    display: flex;
    padding: 0px 64px;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.home-title h2 {
    color: #865735;
    font-family: Ubuntu;
    font-size: 80px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-family: 'PTSans-Regular';
}

.home-title p {
    color: #865735;
    font-family: Ubuntu;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-family: 'PTSans-Bold';
}

.houses {
    display: flex;
    align-items: flex-start;
    gap: 30px;
    align-self: stretch;
}

.house {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

.house a { 
    text-decoration: none;
}

.house img {
    width: 641px;
    height: 440px;
}

.house-name {
    display: flex;
    width: 641px;
    justify-content: space-between;
    align-items: center;
}

.house-name h4 {
    color: #000;
    font-family: 'PTSans-Regular';
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.house-reservation-button {
    display: flex;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: #962A1A;
}

.house-reservation-button a {
    text-decoration: none;
}

.house-reservation-button a p {
    color: #FFF;
    font-family: 'PTSans-Regular';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.reviews {
    display: flex;
    width: 1440px;
    padding: 64px;
    align-items: flex-start;
    gap: 64px;
    background: #112F21;
}

.reviews-text {
    display: flex;
    align-items: flex-start;
    gap: 64px;
    flex: 1 0 0;
}

.reviews-text p {
    display: flex;
    width: 394.667px;
    flex-direction: column;
    align-self: stretch;
    color: #FFF;
    font-family: 'PTSans-Regular';
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.customer-reviews {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 64px;
}

.review-group {
    width: 853.333px;
    height: 199px;
}

.review {
    display: flex;
    width: 394.667px;
    height: 199px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    flex-shrink: 0;
}

.review-logo {
    width: 40px;
    height: 40px;
    flex-shrink: 0;
}

.review h4 {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    color: #FFF;
    font-family: 'PTSans-Regular';
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

/* .all-houses {
display: flex;
flex-wrap: wrap;
}

.house {
width: 50%;
box-sizing: border-box;
padding: 10px;
display: flex;
flex-direction: column;
}

.house:nth-child(even) {
text-align: right;
}

.house-image {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
    background-color: grey;
    border: 5px solid grey;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: 70%;
}

.house img {
width: 100%;
height: 100%;
object-fit: cover;
border-radius: 4px;
}

.house-title {
text-align: left;
font-size: x-large;
margin-bottom: 5px;
}

.reserve-button {
    color: white;
    background-color: transparent;
    border-radius: .3em;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: .5s;
    font-weight: 400;
    font-size: 17px;
    border: 1px solid;
    font-family: 'PTSans-Bold';
    text-transform: uppercase;
    color: var(--color);
    z-index: 1;
    width: 40%;
    margin-left: auto;
    text-align: center;
}

.reserve-button::before,
.reserve-button::after {
    content: '';
    display: block;
    width: 50px;
    height: 50px;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 50%;
    z-index: -1;
    background-color: var(--color);
    transition: 1s ease;
}

.reserve-button::before {
    top: -1em;
    left: -1em;
}

.reserve-button::after {
    left: calc(100% + 1em);
    top: calc(100% + 1em);
}

.reserve-button:hover::before,
.reserve-button:hover::after {
    height: 410px;
    width: 410px;
}

.reserve-button:hover {
color: rgb(10, 25, 30);
}

.reserve-button:active {
filter: brightness(.8);
}
  
.image-link {
    height: 100%;
}

.fas-album {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    align-items: flex-end;
    align-items: right;
    font-weight: 400;
    font-size: 25px;
    color: white;
    font-family: "Font Awesome 5 Free";
    font-weight: 500;
    transition: font-size 0.3s;
} */