.home {
    display: flex;
    padding: 64px;
    flex-direction: column;
    align-items: center;
    gap: 64px;
    background: #EAE1CD;
}

.home-title {
    display: flex;
    padding: 0px 64px;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.home-title h2 {
    color: #865735;
    font-family: Ubuntu;
    font-size: 80px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-family: 'PTSans-Regular';
}

.home-title p {
    color: #865735;
    font-family: Ubuntu;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-family: 'PTSans-Bold';
}

.houses {
    display: flex;
    align-items: flex-start;
    gap: 30px;
    align-self: stretch;
}

.house {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

.house a { 
    text-decoration: none;
}

.house img {
    width: 641px;
    height: 440px;
}

.house-name {
    display: flex;
    width: 641px;
    justify-content: space-between;
    align-items: center;
}

.house-name h4 {
    color: #000;
    font-family: 'PTSans-Regular';
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.house-reservation-button {
    display: flex;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: #962A1A;
}

.house-reservation-button a {
    text-decoration: none;
}

.house-reservation-button a p {
    color: #FFF;
    font-family: 'PTSans-Regular';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.reviews {
    display: flex;
    width: 1440px;
    padding: 64px;
    align-items: flex-start;
    gap: 64px;
    background: #112F21;
}

.reviews-text {
    display: flex;
    align-items: flex-start;
    gap: 64px;
    flex: 1 0 0;
}

.reviews-text p {
    display: flex;
    width: 394.667px;
    flex-direction: column;
    align-self: stretch;
    color: #FFF;
    font-family: 'PTSans-Regular';
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.customer-reviews {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 64px;
}

.review-group {
    width: 853.333px;
    height: 199px;
}

.review-left {
    display: flex;
    width: 394.667px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

.review-left-logo {
    width: 40px;
    height: 40px;
}

.review-left h4 {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    color: #FFF;
    font-family: 'PTSans-Regular';
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.review-left p {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    color: #FFF;
    font-family: 'PTSans-Regular';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.review-right {
    display: flex;
    width: 394.667px;
    height: 199px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    flex-shrink: 0;
}

.review-right-logo {
    width: 40px;
    height: 40px;
    flex-shrink: 0;
}

.review-right h4 {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    align-self: stretch;
    color: #FFF;
    font-family: 'PTSans-Regular';
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.review-right p {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    align-self: stretch;
    color: #FFF;
    font-family: PT Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.location {
    display: flex;
    width: 1440px;
    padding: 64px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}

.location h4 {
    color: #FFF;
    font-family: 'PTSans-Regular';
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.location img {
    width: 1312px;
    height: 500px;
}

.location a {
    text-decoration: none;
}

.location p {
    display: flex;
    width: 642px;
    flex-direction: column;
    color: #FFF;
    font-family: 'PTSans-Regular';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}