.home {
  display: flex;
  height: 736px;
  align-items: center;
  gap: 64px;
  background: linear-gradient(
      0deg,
      rgba(17, 47, 33, 0.54) 0%,
      rgba(17, 47, 33, 0.54) 100%
    ),
    url("home/image/home.svg"), lightgray 50% / cover no-repeat;
}
.home-title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}
.home-title h2 {
  color: #eae1cd;
  font-family: "PTSans-Bold";
  font-size: 80px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0;
}
.home-title p {
  color: #eae1cd;
  font-family: "PTSans-Bold";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}
.house-reservation-button {
  padding: 12px 24px;
  background: #962a1a;
}
.house-reservation-button a {
  text-decoration: none;
}
.house-reservation-button a p {
  color: #fff;
  font-family: "PTSans-Regular";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}
.search-house {
  background: #eae1cd;
  border: none;
}
.search-house h3 {
  color: #112f21;
  font-family: "PTSans-Bold";
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.search-house form {
  display: flex;
  align-items: center;
  gap: 16px;
  width: 100%;
}
.form-group-filter {
  width: 100%;
  display: flex;
  padding: 12px 16px;
  justify-content: center;
  align-items: center;
  gap: 16px;
  border: 1px solid var(--gray-300, #c8c8c8);
  background: var(--text-white, #fff);
}
.form-group-filter:hover {
  border: 1px solid #112f21;
  background: linear-gradient(
      0deg,
      rgba(17, 47, 33, 0.05) 0%,
      rgba(17, 47, 33, 0.05) 100%
    ),
    #fff;
}
.form-group-filter:hover > input {
  background: linear-gradient(
      0deg,
      rgba(17, 47, 33, 0.05) 0%,
      rgba(17, 47, 33, 0.05) 100%
    ),
    #fff;
}
.form-group-filter img {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.form-group-filter input {
  flex: 1 0 0;
  color: var(--text-dark, #252525);
  font-family: "PTSans-Regular";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
  border: none;
}
.form-group-filter:hover {
  background: linear-gradient(
      0deg,
      rgba(17, 47, 33, 0.05) 0%,
      rgba(17, 47, 33, 0.05) 100%
    ),
    #fff;
}
form a {
  text-decoration: none;
}
#search-button {
  display: flex;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background: #962a1a;
  border: none;
}
#search-button p {
  color: #fff;
  font-family: "PTSans-Regular";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}
.houses {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #eae1cd;
  border: none;
  gap: 32px;
}
.house-left {
  display: flex;
  gap: 30px;
}
.house-right {
  display: flex;
  gap: 30px;
}
.house-left a,
.house-right a {
  text-decoration: none;
}
.house-left img,
.house-right img {
  width: 100%;
}
.house-left-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
}
.house-right-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}
.house-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}
.house-text h3 {
  color: #112f21;
  font-family: "PTSans-Bold";
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0;
}
.house-text p {
  color: #112f21;
  font-family: "PTSans-Regular";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}
.house-icons {
  display: flex;
  align-items: flex-start;
  gap: 16px;
}
.house-icons img {
  width: 32px;
  height: 32px;
}
.house-price {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}
.house-price p {
  color: #000;
  font-family: "PTSans-Regular";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}
.house-price h3 {
  color: #000;
  font-family: "PTSans-Bold";
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0;
}
#reservation-button {
  display: flex;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background: #962a1a;
  border: none;
}
#reservation-button p {
  color: #fff;
  font-family: "PTSans-Regular";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}
.no-houses {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.no-houses img {
  width: 48px;
  height: 48px;
}
.no-houses h4 {
  margin: 0;
  color: #112f21;
  text-align: center;
  font-family: "PTSans-Bold";
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.no-houses p {
  margin: 0;
  color: #112f21;
  text-align: center;
  font-family: "PTSans-Regular";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.reviews {
  display: flex;
  flex-direction: column;
  gap: 16px;
  background: #112f21;
}

.reviews-text p {
  color: #eae1cd;
  font-family: "PTSans-Regular";
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.review-group {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}
.review-left {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: calc(50% - 32px);
}
.review-left-logo img {
  width: 40px;
  height: 40px;
}
.review-left h4 {
  color: #eae1cd;
  font-family: "PTSans-Regular";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0;
}
.review-left p {
  color: #eae1cd;
  font-family: "PTSans-Regular";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
  margin: 0;
}
