.home {
    display: flex;
    width: 1440px;
    height: 550px;
    padding: 64px;
    align-items: center;
    gap: 64px;
    flex-shrink: 0;
    background: linear-gradient(0deg, rgba(17, 47, 33, 0.54) 0%, rgba(17, 47, 33, 0.54) 100%), url('home/image/hero-image.png'), lightgray 50% / cover no-repeat;
}

.home-title {
    display: flex;
    width: 641px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    flex-shrink: 0;
    }

.home-title h2 {
    color: #EAE1CD;
    font-family: 'PTSans-Bold';
    font-size: 80px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0;
}

.home-title p {
    align-self: stretch;
    color: #EAE1CD;
    font-family: 'PTSans-Bold';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
}

.house-reservation-button {
    display: flex;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: #962A1A;
}

.house-reservation-button a {
    text-decoration: none;
}

.house-reservation-button a p {
    color: #FFF;
    font-family: 'PTSans-Regular';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
}

.search-house {
    display: flex;
    width: 1440px;
    padding: 64px;
    flex-direction: column;
    align-items: flex-start;
    gap: 64px;
    background: #EAE1CD;
    border: none;
}

.search-house h3 {
    color: #112F21;
    font-family: 'PTSans-Bold';
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0;
}

.search-house form {
    display: flex;
    align-items: center;
    gap: 16px;
    align-self: stretch;
    width: none;
}

.form-group-filter {
    display: flex;
    width: 641px;
    padding: 12px 16px;
    justify-content: center;
    align-items: center;
    gap: 16px;
    border: 1px solid var(--gray-300, #C8C8C8);
    background: var(--text-white, #FFF);
}

.form-group-filter:hover {
    border: 1px solid #112F21;
    background: linear-gradient(0deg, rgba(17, 47, 33, 0.05) 0%, rgba(17, 47, 33, 0.05) 100%), #FFF;
}

.form-group-filter img {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
}

.form-group-filter input {
    flex: 1 0 0;
    color: var(--text-dark, #252525);
    font-family: 'PTSans-Regular';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
    border: none;
}

.form-group-filter:hover {
    background: linear-gradient(0deg, rgba(17, 47, 33, 0.05) 0%, rgba(17, 47, 33, 0.05) 100%), #FFF;
}

#search-button {
    display: flex;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: #962A1A;
    border: none;
}

#search-button p {
    color: #FFF;
    font-family: 'PTSans-Regular';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
}

.houses {
    display: flex;
    width: 1440px;
    padding: 64px;
    flex-direction: column;
    align-items: center;
    gap: 64px;
    background: #EAE1CD;
    border: none;
}

.house-left {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.house-right {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-left: 110px;
}

.house-left a,
.house-right a { 
    text-decoration: none;
}

.house-left img,
.house-right img {
    width: 865px;
    height: 577px;
}

.house-left-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    align-self: stretch;
    justify-content: center;
}

.house-right-info {
    display: flex;
    width: 417px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}

.house-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
}

.house-text h3 {
    align-self: stretch;
    color: #112F21;
    font-family: 'PTSans-Bold';
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0;
}

.house-text p {
    align-self: stretch;
    color: #112F21;
    font-family: 'PTSans-Regular';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
}

.house-icons {
    display: flex;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
}

.house-icons img {
    width: 32px;
    height: 32px;
}

.house-price {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
}

.house-price p {
    align-self: stretch;
    color: #000;
    font-family: 'PTSans-Regular';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
}

.house-price h3 {
    align-self: stretch;
    color: #000;
    font-family: 'PTSans-Bold';
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0;
}

#reservation-button {
    display: flex;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: #962A1A;
    border: none;
}

#reservation-button p {
    color: #FFF;
    font-family: 'PTSans-Regular';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
}

.no-houses {
    display: flex;
    width: 1312px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.no-houses img {
    width: 48px;
    height: 48px;
}

.no-houses h4 {
    width: 1312px;
    margin: 0;
    color: #112F21;
    text-align: center;
    font-family: 'PTSans-Bold';
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.no-houses p {
    margin: 0;
    width: 864px;
    color: #112F21;
    text-align: center;
    font-family: 'PTSans-Regular';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.reviews {
    display: flex;
    width: 1440px;
    padding: 64px;
    align-items: flex-start;
    gap: 64px;
    background: #112F21;
}
  
.reviews-text {
    width: 394.667px;
    flex-shrink: 0;
    align-self: stretch;
}
  
.reviews-text p {
    color: #EAE1CD;
    font-family: 'PTSans-Regular';
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0;
}
  
.customer-reviews {
    display: flex;
    align-items: flex-start;
    gap: 64px;
    margin-left: 130px;
}
  
.review-group {
    display: flex;
    width: 853.333px;
    height: 199px;
    gap: 64px;
}
  
.review-left,
.review-right {
    display: flex;
    width: 394.667px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

.review-left-logo,
.review-right-logo  {
    margin: 0;
}
  
.review-left-logo img,
.review-right-logo img {
    width: 40px;
    height: 40px;
}
  
.review-left h4,
.review-right h4 {
    color:  #EAE1CD;;
    font-family: 'PTSans-Regular';
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    align-self: stretch;
    margin: 0;
}
  
.review-left p,
.review-right p {
    align-self: stretch;
    color:  #EAE1CD;;
    font-family: 'PTSans-Regular';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
    margin: 0;
}
  