.house-page {
  background: #eae1cd;
}
.home-arrow {
  display: flex;
  align-items: center;
  gap: 8px;
}
.home-arrow a {
  text-decoration: none;
}
.home-arrow img {
  width: 32px;
  height: 32px;
}
.home-arrow p {
  color: #0c2218;
  font-family: "PTSans-Regular";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.house-detail {
  display: flex;
  gap: 16px;
}
.house-main-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.house-main-info h3 {
  display: flex;
  flex-direction: column;
  color: #0c2218;
  font-family: "PTSans-Regular";
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0;
}
.house-main-info p {
  display: flex;
  flex-direction: column;
  color: #0c2218;
  font-family: "PTSans-Regular";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.reservation-form {
  display: flex;
  padding: 24px;
  flex-direction: column;
  gap: 16px;
  border: 2px solid #1e5e5f;
  background: #fff;
}
.reservation-form h3 {
  color: #000;
  font-family: "PTSans-Regular";
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0;
}
.reservation-form h4 {
  color: #000;
  font-family: "PTSans-Regular";
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 0;
}
.reservation-form p {
  color: #000;
  font-family: "PTSans-Regular";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.form-group {
  display: flex;
  padding: 12px 16px;
  justify-content: center;
  align-items: center;
  gap: 16px;
  border: 1px solid var(--gray-300, #c8c8c8);
  background: var(--text-white, #fff);
  margin-bottom: 16px;
}
.form-group:hover {
  border: 1px solid #112f21;
  background: linear-gradient(
      0deg,
      rgba(17, 47, 33, 0.05) 0%,
      rgba(17, 47, 33, 0.05) 100%
    ),
    #fff;
}
.form-group img {
  width: 24px;
  height: 24px;
}
.form-group input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1 0 0;
  color: var(--text-dark, #252525);
  font-family: "PTSans-Regular";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  border: none;
}
.form-group input:hover {
  background: linear-gradient(
      0deg,
      rgba(17, 47, 33, 0.05) 0%,
      rgba(17, 47, 33, 0.05) 100%
    ),
    #fff;
}
#payment-button {
  display: flex;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background: #962a1a;
  margin: 0;
  border-radius: 0;
  height: 50px;
  border: none;
}
#payment-button p {
  color: #fff;
  font-family: "PTSans-Regular";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.house-cover {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.house-cover img {
  width: 100%;
}
.house-gallery {
  display: flex;
  gap: 8px;
}
.house-gallery img {
  width: 15%;
}
.house-information {
  background: #112f21;
}
.information {
  display: flex;
  gap: 64px;
}
.about {
  flex: 1 0 0;
}
.about h3 {
  color: #eae1cd;
  font-family: "PTSans-Regular";
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.about p {
  color: #eae1cd;
  font-family: "PTSans-Regular";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}
.comfort {
  flex: 1 0 0;
}
.comfort h3 {
  color: #eae1cd;
  font-family: "PTSans-Regular";
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.about-comfort {
  display: flex;
  gap: 32px;
}
.first-comfort-items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  flex: 1 0 0;
}
.comfort-item {
  display: flex;
  align-items: center;
  gap: 8px;
}
.comfort-item img {
  width: 32px;
  height: 32px;
}
.comfort-item h4 {
  color: #eae1cd;
  font-family: "PTSans-Regular";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0px;
}
.second-comfort-items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}
.ui-datepicker {
  display: none;
  flex-direction: column;
  border: 1px solid #c8c8c8;
  background: #fff;
  padding: 8px;
}
.ui-datepicker-header {
  display: flex;
  padding: 10px 32px;
  font-family: "PTSans-Bold";
}
.ui-datepicker-prev {
  order: 1;
  background-image: url("reservation/image/chevron-left.png");
}
.ui-datepicker-next {
  order: 3;
  background-image: url("reservation/image/chevron-right.png");
}
.ui-datepicker-title {
  order: 2;
  flex: 1;
  text-align: center;
  color: #000;
  font-family: "PTSans-Regular";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.ui-datepicker-prev,
.ui-datepicker-next {
  height: 24px;
  background-repeat: no-repeat;
  line-height: 600%;
  overflow: hidden;
}
.ui-datepicker-calendar {
  display: flex;
  flex-direction: column;
}
thead {
  display: flex;
  justify-content: center;
}
tr {
  display: flex;
  padding: 4px 32px;
  gap: 14px;
}
th {
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
span {
  color: #000;
  font-family: "PTSans-Regular";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 12px; /* 85.714% */
  letter-spacing: 0.42px;
  text-transform: uppercase;
}
tbody {
  display: flex;
  flex-direction: column;
  align-items: center;
}
td {
  display: flex;
  justify-content: center;
  width: 17px;
  padding: 8px 16px;
}
.ui-state-default {
  color: #999999;
  text-align: center;
  font-family: "PTSans-Regular";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 122.222% */
}
.reserved-date {
  color: #000;
  text-decoration: line-through;
  cursor: not-allowed;
}
.ui-state-default:not(.reserved-date) {
  text-decoration: none;
}
a.ui-state-default {
  color: #000;
  text-align: center;
  font-family: "PTSans-Regular";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}
a.ui-state-default:hover {
  border-radius: 100px;
  background: rgba(17, 47, 33, 0.1);
  padding: 4px 4px;
}
.all-prices {
  background: #112f21;
}
.all-prices h3 {
  color: #eae1cd;
  font-family: "PTSans-Regular";
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.price-information {
  display: flex;
  flex-direction: column;
}
.price-header {
  display: flex;
  justify-content: space-between;
}
.price-header h4 {
  color: #eae1cd;
  font-family: "PTSans-Regular";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 100%;
}
.prices {
  display: flex;
  justify-content: space-between;
  border-top: solid #EAE1CD;
}
.prices h4 {
  color: #eae1cd;
  font-family: "PTSans-Regular";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 100%;
}
.fas-house {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  align-items: flex-end;
  align-items: right;
  font-weight: 400;
  font-size: 25px;
  color: black;
  font-family: "Font Awesome 5 Free";
  font-weight: 500;
  transition: font-size 0.3s;
  margin-left: 20px;
}
.fas-house:hover {
  color: #112f21;
  font-size: 30px;
}
.edit-house a {
  text-decoration: none;
  color: black;
  font-size: 25px;
  font-family: "PTSans-Bold";
}
.edit-reservation a {
  text-decoration: none;
  color: black;
  font-size: 25px;
  font-family: "PTSans-Bold";
}
