.background-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #e28048;
    border: 1px solid white;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    height: 50%;
    width: 37%;
    margin-top: 20px;
}

