.background-block {
  background: #eae1cd;
}
.login {
  display: flex;
  padding: 0px 64px;
  flex-direction: column;
  align-items: center;
}
.login h2 {
  color: #865735;
  font-family: "PTSans-Bold";
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.login-form {
  display: flex;
  padding: 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  border: 2px solid #112f21;
  background: #fff;
}
.login-form p {
  display: flex;
  padding: 12px 16px;
  justify-content: center;
  align-items: center;
  gap: 16px;
  align-self: stretch;
  border: 1px solid #112f21;
  background: var(--text-white, #fff);
  margin-bottom: 16px;
}
.login-form input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1 0 0;
  color: var(--text-dark, #112f21);
  font-family: "PTSans-Regular";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  border: solid #1e5e5f;
}
.login-form label {
  color: var(--text-dark, #112f21);
  font-family: "PTSans-Regular";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.login-button {
  display: flex;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background: #962a1a;
  margin: 0;
  border-radius: 0;
  height: 40px;
  border: none;
  color: #fff;
  font-family: "PTSans-Regular";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.logout {
  padding: 24px;
  border: 2px solid #112f21;
  background: #fff;
}
.logout h3 {
  color: #865735;
  font-family: "PTSans-Bold";
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.logout-button {
  display: flex;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background: #962a1a;
  margin: 0;
  border-radius: 0;
  height: 40px;
  border: none;
  color: #fff;
  font-family: "PTSans-Regular";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.background-block h2 {
  color: #865735;
  font-family: "PTSans-Bold";
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.reservation-item {
  padding: 12px 0px;
}
.delete {
  width: 100%;
}
.reservation-date {
  display: flex;
  padding: 12px 16px;
  justify-content: space-between;
  border: 1px solid var(--gray-300, #c8c8c8);
  background: var(--text-white, #fff);
}
