.payment-cancelled {
  display: flex;
  padding: 64px;
  flex-direction: column;
  align-items: center;
  gap: 64px;
  background: #eae1cd;
}

.payment-text {
  display: flex;
  padding: 0px 64px;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.payment-cancelled h2 {
  color: #865735;
  font-family: "PTSans-Bold";
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
