/* Global Styles */
@font-face {
    font-family: 'PTSans-Regular';
    src: url('/static/fonts/PTSans-Bold.ttf') format('ttf');
}

@font-face {
    font-family: 'PTSans-BoldItalic';
    src: url('/static/fonts/PTSans-BoldItalic.ttf') format('ttf');
}

@font-face {
    font-family: 'PTSans-Italic';
    src: url('/static/fonts/PTSans-Italic.ttf') format('ttf');
}

@font-face {
    font-family: 'PTSans-Regular';
    src: url('/static/fonts/PTSans-Regular.ttf') format('ttf');
}

html {
    width: 1440px;
}

body {
    font-family: 'PTSans-Regular';
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    background: #112F21;
    margin: 0 auto;
    width: 1440px;
}

header {
    background-color: #112F21;
    width: 1440px;
    position: fixed;

}

nav {
    display: flex;
    padding: 16px 64px;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.logo {
    display: flex;
    align-items: center;
    gap: 8px;
}

.logo a {
    width: 48px;
    height: 48px;
    text-decoration: none;
}

.nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.nav-links li {
    list-style: none;
    position: relative;
}

.nav-links li a {
    color: #FFF;
    font-family: PT Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}

.nav-links li a::after {
    content: '';
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: white;
    transform: scaleX(0); 
    transition: transform 0.3s ease;
}

.nav-links li a:hover::after {
    transform: scaleX(1); 
}

.nav-contacts {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.reserve-button {
    display: flex;
    width: 138px;
    padding: 16px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: #FFFEFD;
    text-decoration: none;
}

.reserve-button a {
    color: #1C1B1F;
    text-align: center;
    font-family: PT Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}

.number {
    color: #FFF;
    font-family: PT Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

main {
    padding: 0;
    margin: 0;
    width: 1440px;
}

footer {
    display: flex;
    width: 1440px;
    padding: 32px 64px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    background: #0A1C13;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
}

.info {
    display: flex;
    align-items: flex-start;
    gap: 128px;
    margin-right: 150px;
}

.location {
    display: flex;
    align-items: flex-start;
    gap: 8px;
}

.location img {
    width: 24px;
    height: 24px;
}

.location a {
    width: 24px;
    height: 24px;
    text-decoration: none;
}

.adress {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.adress p {
    color: #FFF;
    font-family: 'PTSans-Regular';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
}

.social {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.social-media {
    display: flex;
    align-items: center;
    gap: 8px;
}

.social-media img {
    width: 24px;
    height: 24px;
}

.social-media a {
    width: 24px;
    height: 24px;
    text-decoration: none;
}

.social-media p {
    color: #FFF;
    font-family: PT Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
}

.rights {
    color: #FFF;
    font-family: PT Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
