@font-face {
  font-family: "PTSans-Bold";
  src: url("/static/fonts/PTSans-Bold.ttf") format("ttf");
}
@font-face {
  font-family: "PTSans-BoldItalic";
  src: url("/static/fonts/PTSans-BoldItalic.ttf") format("ttf");
}
@font-face {
  font-family: "PTSans-Italic";
  src: url("/static/fonts/PTSans-Italic.ttf") format("ttf");
}
@font-face {
  font-family: "PTSans-Regular";
  src: url("/static/fonts/PTSans-Regular.ttf") format("ttf");
}
* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "PTSans-Regular";
  background: #112f21;
  margin: 0 auto;
}
header {
  background-color: #112f21;
  position: sticky;
  top: 0;
  z-index: 2;
  width: 100%;
}
nav {
  display: flex;
  padding: 8px 64px;
  justify-content: space-between;
  align-items: center;
}
.logo {
  display: flex;
  align-items: center;
  gap: 8px;
}
.logo a {
  text-decoration: none;
}
.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.nav-links li {
  list-style: none;
  position: relative;
}
.nav-links li a {
  color: #fff;
  font-family: PT Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
}
.nav-links li a::after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: white;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}
.nav-links li a:hover::after {
  transform: scaleX(1);
}
.nav-contacts {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.reserve-button {
  padding: 16px 20px;
  background: #fffefd;
  text-decoration: none;
}
.reserve-button a {
  color: #1c1b1f;
  text-align: center;
  font-family: PT Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
}
.number {
  color: #fff;
  font-family: PT Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
main {
  padding: 0;
  margin: 0;
}
.block {
  padding: 64px;
}
.directions {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}
.directions h4 {
  color: #eae1cd;
  font-family: "PTSans-Regular";
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0;
}
.directions p {
  display: flex;
  flex-direction: column;
  color: #eae1cd;
  font-family: "PTSans-Regular";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  margin: 0;
}
.directions iframe {
  width: 100%;
  height: 500px;
}
footer {
  display: flex;
  justify-content: space-between;
  padding: 24px 64px;
  /* flex-direction: column;
  align-items: center; */
  gap: 16px;
  background: #0a1c13;
  /* width: 100%; */
}
/* .footer-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
} */
/* .info {
  display: flex;
  align-items: flex-start;
  gap: 128px;
} */
/* .location {
  display: flex;
  align-items: flex-start;
  gap: 8px;
}
.location img {
  width: 24px;
  height: 24px;
}
.location a {
  width: 24px;
  height: 24px;
  text-decoration: none;
}
.adress {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}
.adress p {
  color: #fff;
  font-family: "PTSans-Regular";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
} */
.social {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.social-media {
  display: flex;
  align-items: center;
  gap: 8px;
}
.social-media img {
  width: 24px;
  height: 24px;
}
.social-media a {
  width: 24px;
  height: 24px;
  text-decoration: none;
}
.social-media p {
  color: #fff;
  font-family: "PTSans-Regular";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}
.rights {
  display: flex;
  align-items: end;
}
.rights p {
  color: #fff;
  font-family: "PTSans-Regular";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}

@media screen and (max-width: 390px) {
}
@media screen and (max-width: 1024px) {
  .block {
    padding: 16px 16px;
  }
  nav {
    gap: 16px;
  }
  .house-detail {
    flex-direction: column;
  }
}

@media only screen and (max-width: 768px) {
  .block {
    padding: 16px 8px;
  }
  .nav-links li a {
    font-size: 16px;
  }
  nav {
    flex-wrap: wrap;
    justify-content: center;
    padding: 16px 8px;
    gap: 8px;
  }
  .nav-links {
    gap: 8px;
  }
  .home .home-title h2 {
    font-size: 64px;
  }
  main .search-house {
    gap: 32px;
  }
  main .search-house h3{
    font-size: 32px;
  }
  .search-house form {
    flex-wrap: wrap;
  }
  main .houses {
    display: block;
  }
  .house {
    padding: 8px;
  }
  .houses .house-text h3 {
    font-size: 32px;
  }
  .houses .house-text p {
    font-size: 14px;
  }
  .houses .house-price h3 {
    font-size: 30px;
  }
  main .reviews {
    display: block;
  }
  main .review-left {
    width: 100%;
  }
  .reviews .reviews-text p {
    font-size: 32px;
  }
  .directions p {
    font-size: 14px;
  }
  footer {
    flex-direction: column;
    padding: 16px 8px;
  }
  .info {
    gap: 0;
  }
  .adress p,
  .social-media p,
  .rights p {
    font-size: 16px;
  }
  .footer-content {
    align-self: auto;
  }
  .rights {
    font-size: 12px;
  }
  .carousel__items {
    height: 425px;
  }
  .ui-datepicker {
    padding: 0;
  }
  .ui-datepicker .ui-datepicker-header{
    padding: 4px;
  }
  .ui-datepicker-calendar,  
  .ui-datepicker td  {
    padding: 0;
  }
  .ui-datepicker th {
    padding: 2px;
  }
  .ui-datepicker tr {
    padding: 4px 16px;
  }
  .house-detail {
    flex-direction: column;
  }
  .house-detail .house-main-info h3 {
    font-size: 32px;
  }
  .comfort-item h4 {
    font-weight: 16px;
  }
  .house-information .about-comfort {
    display: block;
  }
}

@media only screen and (max-width: 475px) {
  .carousel .carousel__items {
    height: 310px;
  }
}

@media only screen and (max-width: 355px) {
  .carousel .carousel__items {
    height: 250px;
  }
}
