{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="house-page">
    <div class="home-arrow">
        <a href="#" onclick="goBack()">
            <img src="{% static 'reservation/image/arrow_left_alt.png' %}">
        </a>
        <a href="#" onclick="goBack()">
            <p>Grįžti atgal</p>
        </a>
    </div>
    <div class="house-detail">
        <div class="house-info">
            <div class="house-main-info">
                <h3>{{ house.name }}</h3>
                <p>{{ house.guests }} svečiai • {{ house.beds }} </p>
            </div>
            <div class="reservation-form">
                <form method="POST" enctype="multipart/form-data" id="reservation-form" >
                    <h3>Rezervacija</h3>
                    <p>Įveskite datas, kad sužinotumėte kainą</p>
                    {% csrf_token %}
                    <input type="hidden" name="pk" value="{{ house.pk }}">
                    <div class="form-group">
                        <img src="{% static 'home/image/calendar_month.png' %}">
                        <input type="text" id="check-in" name="date_from" class="datepicker" placeholder="Atvykimas">
                        <div id="check-in-calendar" class="calendar-popup"></div>
                    </div>
                    <div class="form-group">
                        <img src="{% static 'home/image/calendar_month.png' %}">
                        <input type="text" id="check-out" name="date_to" class="datepicker" placeholder="Išvykimas">
                        <div id="check-out-calendar" class="calendar-popup"></div>
                    </div>
                    <input type="hidden" name="house" value="{{ house.pk }}">
                    <div class="payment-button">
                    <button type="submit" id="payment-button" class="payment-button">
                        <p>Rezervuoti</p>
                    </button>
                </div>
                </form> 
                <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
                <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.min.js"></script>
                <script>
                    function goBack() {
                        history.go(-1); // Go back one page
                    }
                    $(function() {
                        // Function to initialize datepicker for a given input element
                        function initializeDatepicker(inputElement) {
                            inputElement.datepicker({
                                showButtonPanel: true,
                                dateFormat: "yy-mm-dd",
                                minDate: 0, // Restrict past dates
                                beforeShowDay: highlightReservedDates,
                                onSelect: function(dateText) {
                                    inputElement.val(dateText);
                                    inputElement.datepicker("hide");
                                }
                            });
                        }

                        // Initialize datepickers for check-in and check-out inputs
                        var checkInInput = $("#check-in");
                        var checkOutInput = $("#check-out");

                        initializeDatepicker(checkInInput);
                        initializeDatepicker(checkOutInput);

                        // Get reserved dates from Django view
                        var reservedDates = {{ reserved_dates|safe }};

                        function highlightReservedDates(date) {
                            var formattedDate = $.datepicker.formatDate("yy-mm-dd", date);
                            if (reservedDates.indexOf(formattedDate) !== -1) {
                                return [false, "reserved-date"];
                            }
                            return [true, ""];
                        }

                        $("#reservation-form").on("submit", function(e) {
                            var checkInDate = checkInInput.val();
                            var checkOutDate = checkOutInput.val();

                            if (checkInDate && checkOutDate) {
                                for (var i = 0; i < reservedDates.length; i++) {
                                    var reservedDate = new Date(reservedDates[i]);
                                    var startDate = new Date(checkInDate);
                                    var endDate = new Date(checkOutDate);

                                    if (reservedDate >= startDate && reservedDate <= endDate) {
                                        e.preventDefault();
                                        alert('The chosen interval includes reserved dates. Please select different dates.');
                                        break;
                                    }
                                }
                            }
                        });
                    });
                </script>
            </div>
        </div>
        <div class="house-cover">
            <img src="{{ house.main_image.url }}">
            <div class="house-gallery">
                <img src="{{ house.main_image.url }}">
            </div>
        </div>
    </div>
</div>
<div class="house-information">
    <div class="information">
        <div class="about">
            <h3>Aprašymas</h3>
            <p>{{ house.content }}</p>
        </div>
        <div class="comfort">
            <h3>Patogumai</h3>
            <div class="about-comfort">
                <div class="first-comfort-items">
                    <div class="comfort-item">
                        <img src="{% static 'reservation/image/park.png' %}">
                        <h4>Vaizdas į mišką</h4>
                    </div>
                    <div class="comfort-item">
                        <img src="{% static 'reservation/image/kitchen.png' %}">
                        <h4>Virtuvėlė</h4>
                    </div>
                    <div class="comfort-item">
                        <img src="{% static 'reservation/image/bath_outdoor.png' %}">
                        <h4>Sūkurinė vonia</h4>
                    </div>
                    <div class="comfort-item">
                        <img src="{% static 'reservation/image/sound_detection_dog_barking.png' %}">
                        <h4>Galima apsistoti su augintiniais</h4>
                    </div>
                </div>
                <div class="second-comfort-items">
                    <div class="comfort-item">
                        <img src="{% static 'reservation/image/nest_remote_comfort_sensor.png' %}">
                        <h4>Wi-Fi</h4>
                    </div>
                    <div class="comfort-item">
                        <img src="{% static 'reservation/image/directions_car.png' %}">
                        <h4>Nemokama vieta automobiliui</h4>
                    </div>
                    <div class="comfort-item">
                        <img src="{% static 'reservation/image/volume_off.png' %}">
                        <h4>Rami aplinka</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
