{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="house-page">
    <div class="home-arrow">
        <a href="#" onclick="goBack()">
            <img src="{% static 'reservation/image/arrow_left_alt.png' %}">
        </a>
        <a href="#" onclick="goBack()">
            <p>Grįžti atgal</p>
        </a>
    </div>
    <div class="edit-house">
    {% if user.is_staff %}
        <a href="{% url 'house_form' house.pk %}">Redaguoti namuką<i class="fas-house">&#xf044;</i></a>
    {% endif %}
    </div>
    <div class="house-detail">
        <div class="house-info">
            <div class="house-main-info">
                <h3>{{ house.name }}</h3>
                <p>{{ house.guests }} svečiai • {{ house.beds }} </p>
            </div>
            <div class="reservation-form">
                <div class="edit-reservation">
                    {% if user.is_staff %}
                        <a href="{% url 'reservation_delete' %}">Ištrinti rezervaciją<i class="fas-house">&#xf044;</i></a>
                    {% endif %}
                </div>
                <form method="POST" enctype="multipart/form-data" id="reservation-form" >
                    <h3>Rezervacija</h3>
                    <h4>Kaina nakčiai</h4>
                    <h4>{{ house.price }} &euro;</h4>
                    <p>Įveskite datas, kad sužinotumėte kainą</p>
                    {% csrf_token %}
                    <input type="hidden" name="pk" value="{{ house.pk }}">
                    <div class="form-group">
                        <img src="{% static 'home/image/calendar_month.png' %}">
                        <input type="text" id="check-in" name="date_from" class="datepicker"  value="{{ check_in_date|default_if_none:'Atvykimas' }}">
                        <div id="check-in-calendar" class="calendar-popup"></div>
                    </div>
                    <div class="form-group">
                        <img src="{% static 'home/image/calendar_month.png' %}">
                        <input type="text" id="check-out" name="date_to" class="datepicker"  value="{{ check_out_date|default_if_none:'Išvykimas' }}">
                        <div id="check-out-calendar" class="calendar-popup"></div>
                    </div>
                    <input type="hidden" name="house" value="{{ house.pk }}">
                    <div class="payment-button">
                    <button type="submit" id="payment-button" class="payment-button">
                        <p>Mokėti</p>
                    </button>
                </div>
                </form> 
                <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
                <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.min.js"></script>

                <script>
                    function goBack() {
                        history.go(-1); // Go back one page
                    }

                    $(document).ready(function() {
                        $(".form-group").on("click", function() {
                          $(this).toggleClass("selected");
                        });
                    });

                    $(document).ready(function() {
                        // Function to initialize datepicker for a given input element
                        function initializeDatepicker(inputElement) {
                          inputElement.datepicker({
                            showButtonPanel: false,
                            dateFormat: "yy-mm-dd",
                            minDate: 0,
                            beforeShowDay: highlightReservedDates,
                            onSvelect: function(dateText) {
                              inputElement.val(dateText);
                              inputElement.datepicker("hide");
                            },
                            dayNamesMin: ["S.", "P.", "A.", "T.", "K.", "P.", "Š."],
                            monthNames: [
                              "Sausis", "Vasaris", "Kovas", "Balandis", "Gegužė", "Birželis",
                              "Liepa", "Rugpjūtis", "Rugsėjis", "Spalis", "Lapkritis", "Gruodis"
                            ],
                            monthNamesShort: [
                              "Sau", "Vas", "Kov", "Bal", "Geg", "Bir",
                              "Lie", "Rgp", "Rgs", "Spa", "Lap", "Grd"
                            ]
                          });
                        }

                        $("#datepicker").on("datepickeropen", function() {
                            $(".ui-datepicker-header").remove();
                        });
                        
                        // Get reserved dates from Django view
                        var reservedDates = {{ reserved_dates|safe }};
                        
                        // Initialize datepickers for check-in and check-out inputs
                        var checkInInput = $("#check-in");
                        var checkOutInput = $("#check-out");
                        
                        initializeDatepicker(checkInInput);
                        initializeDatepicker(checkOutInput);
                        
                        $("#datepicker").on("datepickeropen", function() {
                            $(".ui-datepicker-header").remove();
                        });

                        function highlightReservedDates(date) {
                          var formattedDate = $.datepicker.formatDate("yy-mm-dd", date);
                          if (reservedDates.indexOf(formattedDate) !== -1) {
                            return [false, "reserved-date"];
                          }
                          return [true, ""];
                        }
                        
                        $("#reservation-form").on("submit", function(e) {
                          var checkInDate = checkInInput.val();
                          var checkOutDate = checkOutInput.val();
                        
                          if (checkInDate && checkOutDate) {
                            for (var i = 0; i < reservedDates.length; i++) {
                              var reservedDate = new Date(reservedDates[i]);
                              var startDate = new Date(checkInDate);
                              var endDate = new Date(checkOutDate);
                        
                              if (reservedDate >= startDate && reservedDate <= endDate) {
                                e.preventDefault();
                                alert('The chosen interval includes reserved dates. Please select different dates.');
                                break;
                              }
                            }
                          }
                        });
                    });        
                </script>
            </div>
        </div>
        <div class="house-cover">
            <img id="cover-image" src="{{ house.main_image.url }}">
            <div class="house-gallery">
                <img src="{{ house.main_image.url }}" onclick="updateCoverImage('{{ house.main_image.url }}')">
                {% for image in images %}
                    <img src="{{ image.photo.url }}" onclick="updateCoverImage('{{ image.photo.url }}')">
                {% endfor %}
            </div>
        </div>
        
        <script>
            function updateCoverImage(imageUrl) {
                var coverImage = document.getElementById('cover-image');
                coverImage.src = imageUrl;
            }
        </script>
        
    </div>
</div>
<div class="house-information">
    <div class="information">
        <div class="about">
            <h3>Aprašymas</h3>
            <p>{{ house.content }}</p>
        </div>
        <div class="comfort">
            <h3>Patogumai</h3>
            <div class="about-comfort">
                <div class="first-comfort-items">
                    <div class="comfort-item">
                        <img src="{% static 'reservation/image/park.png' %}">
                        <h4>Vaizdas į mišką</h4>
                    </div>
                    <div class="comfort-item">
                        <img src="{% static 'reservation/image/kitchen.png' %}">
                        <h4>Virtuvėlė</h4>
                    </div>
                    <div class="comfort-item">
                        <img src="{% static 'reservation/image/bath_outdoor.png' %}">
                        <h4>Sūkurinė vonia</h4>
                    </div>
                    <div class="comfort-item">
                        <img src="{% static 'reservation/image/sound_detection_dog_barking.png' %}">
                        <h4>Galima apsistoti su augintiniais</h4>
                    </div>
                </div>
                <div class="second-comfort-items">
                    <div class="comfort-item">
                        <img src="{% static 'reservation/image/nest_remote_comfort_sensor.png' %}">
                        <h4>Wi-Fi</h4>
                    </div>
                    <div class="comfort-item">
                        <img src="{% static 'reservation/image/directions_car.png' %}">
                        <h4>Nemokama vieta automobiliui</h4>
                    </div>
                    <div class="comfort-item">
                        <img src="{% static 'reservation/image/volume_off.png' %}">
                        <h4>Rami aplinka</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
