{% extends 'base.html' %}
{% block content %}
<h1>Reservation Form</h1>
<form method="POST" enctype="multipart/form-data" id="reservation-form">
  {% csrf_token %}
  <div class="form-group">
    <label for="check-in">Check-in</label>
    <input type="text" id="check-in" class="datepicker" name="check-in" placeholder="Select check-in date">
    <div id="check-in-calendar" class="calendar-popup"></div>
  </div>
  <div class="form-group">
    <label for="check-out">Check-out</label>
    <input type="text" id="check-out" class="datepicker" name="check-out" placeholder="Select check-out date">
    <div id="check-out-calendar" class="calendar-popup"></div>
  </div>
  <button type="submit">Search House</button>
  {% if available_houses == None %}
  <div class="form-group">
    <label for="house">House</label>
    {% for house in houses %}
      <div class="house">
        <img src="{{ house.main_image.url }}">
      </div>
    {% endfor %}
  </div>
  {% elif available_houses%}
  <div class="form-group">
    <label for="house">House</label>
    {% for house in available_houses %}
      <div class="house">
        <img src="{{ house.main_image.url }}">
      </div>
    {% endfor %}
  </div>
{% else %}
  There are no houses available on these dates.
{% endif %}
</form>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.13.0/jquery-ui.min.js"></script>
<script>
  $(function() {
    // Function to initialize datepicker for a given input element
    function initializeDatepicker(inputElement) {
      inputElement.datepicker({
        showButtonPanel: true,
        dateFormat: "yy-mm-dd",
        minDate: 0, // Restrict past dates
        beforeShowDay: highlightReservedDates,
        onSelect: function(dateText) {
          inputElement.val(dateText);
          inputElement.datepicker("hide");
        }
      });
    }

    // Initialize datepickers for check-in and check-out inputs
    initializeDatepicker($("#check-in"));
    initializeDatepicker($("#check-out"));

    // Get reserved dates from Django view
    var reservedDates = {{ reserved_dates|safe }};

    function highlightReservedDates(date) {
      var formattedDate = $.datepicker.formatDate("yy-mm-dd", date);
      if (reservedDates.indexOf(formattedDate) !== -1) {
        return [false, "reserved-date"];
      }
      return [true, ""];
    }

    $("#reservation-form").on("submit", function(e) {
      var checkInDate = $("#check-in").val();
      var checkOutDate = $("#check-out").val();

      if (checkInDate && checkOutDate) {
        for (var i = 0; i < reservedDates.length; i++) {
          var reservedDate = new Date(reservedDates[i]);
          var startDate = new Date(checkInDate);
          var endDate = new Date(checkOutDate);
        }
      }
    });
  });

</script>
{% endblock content %}
