<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Miško terapija{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="{% static 'reservation.css' %}">
    <link rel="stylesheet" href="{% static 'home.css' %}">
    <link rel="stylesheet" href="{% static 'house_reservation.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

</head>
<body>
    <header>
        <nav>
            <div class="logo">
                <img src="static/home/image/forest.png">
            </div>
            <ul class="nav-links">
                <li><a href="#">Galerija</a></li>
                <li><a href="{% url 'reservation_filter' %}">Apie Namelius</a></li>
                <li><a href="#">Kontaktai</a></li>
            </ul>
            <div class="nav-contacts">
                <div class="reserve-button">
                <a href="{% url 'reservation_filter' %}">Rezervuoti</a>
                </div>
                <div class="number">+37066763845</div>
            </div>
        </nav>
    </header>
    <main>
        {% block content%}

        {% endblock content %}
    </main>
    <footer>
        <div class="footer-content">
            <div class="logo">
                <img src="static/home/image/forest_footer.png">
            </div>
            <div class="info">
                <div class="location">
                    <img src="static/home/image/pin_drop.png">
                    <div class="adress">
                        <p>Miško terapija</p>
                        <p>Žukonys</p>
                        <p>Varėna, 65248,</p>
                        <p>Lietuva</p>
                    </div>
                </div>
                <div class="social">
                    <div class="social-media">
                        <a href="https://www.facebook.com/miskoterapija.lt">
                        <img src="static/home/image/facebook.png">
                        </a>
                        <p>Facebook</p>
                    </div>
                    <div class="social-media">
                        <a href="https://www.instagram.com/misko__terapija/">
                        <img src="static/home/image/instagram.png">
                        </a>
                        <p>Instagram</p>
                    </div>
                    <div class="social-media">
                        <img src="static/home/image/call.png">
                        <p>+37066763845</p>
                    </div>
                    <div class="social-media">
                        <a href="mailto: misko.terapijai@gmail.com">
                        <img src="static/home/image/mail.png">
                        </a>
                        <p>misko.terapijai@gmail.com</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="rights">
        <p> &copy; 2023 Miško terapija. Visos teisės saugomos. </p>
        </div>
    </footer>    
</body>
</html>
