<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Miško terapija{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="{% static 'reservation.css' %}">
    <link rel="stylesheet" href="{% static 'home.css' %}">
    <link rel="stylesheet" href="{% static 'house_reservation.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">


    {% block styles %}{% endblock %}
</head>
<body>
    <header>
        <nav>
            <div class="container">
                <a href="{% url 'reservation' %}" class="button-56">Book Now</a>
            </div>
            {% comment %} <a class="book-now" href="{% url 'reservation' %}">Book Now</a> {% endcomment %}
            <ul class="nav-links">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="{% url 'reservation' %}">Reservation</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
            <div class="social-media-icons">
                <a href="https://www.facebook.com/miskoterapija.lt" target="_blank"><i class="fab fa-facebook"></i></a>
                <a href="mailto: misko.terapijai@gmail.com" target="_blank"><i class="fa fa-envelope"></i></a>
                <a href="https://www.instagram.com/misko__terapija/" target="_blank"><i class="fab fa-instagram"></i></a>
            </div>            
        </nav>
    </header>
    <main>
        {% block content%}

        {% endblock content %}
    </main>
    <footer>
        <div class="footer-content">
            <div class="footer-column">
                <h3>Find Us</h3>
                <div id="map" class="map-container">
                    <iframe
                        src="https://goo.gl/maps/hKvNTVcg1Ni4T4Ho8"
                        allowfullscreen=""
                        loading="lazy"
                    ></iframe>
                </div>
            </div>
            <div class="footer-column">
                <h3>Contact Information</h3>
                <ul>
                    <li><i class="fas fa-map-marker-alt"></i> Address: Žukonys, Varėna, Lithuania, 65248</li>
                    <li><i class="fas fa-envelope"></i> Email: misko.terapijai@gmail.com</li>
                    <li><i class="fas fa-phone"></i> Phone: +123 456 789</li>
                </ul>
            </div>
        </div>
        <div class="footer-bottom">
            <p> &copy; 2023 Misko Terapija - All rights reserved  </p>
        </div>
    </footer>    
</body>
</html>
