<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Miško terapija{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="{% static 'reservation.css' %}">
    <link rel="stylesheet" href="{% static 'home.css' %}">
    <link rel="stylesheet" href="{% static 'house_reservation.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

</head>
<body>
    <header>
        <nav>
            <div class="logo">
                <a href="{% url 'home' %}">
                <img src="{% static 'home/image/forest.png' %}">
                </a>
            </div>
            <ul class="nav-links">
                <li><a href="#">Galerija</a></li>
                <li><a href="{% url 'reservation_filter' %}">Apie Namelius</a></li>
                <li><a href="#">Kontaktai</a></li>
            </ul>
            <div class="nav-contacts">
                <div class="reserve-button">
                <a href="{% url 'reservation_filter' %}">Rezervuoti</a>
                </div>
                <div class="number">+37066763845</div>
            </div>
        </nav>
    </header>
    <main>
        
        {% block content%}
            
        {% endblock content %}
        <div class="directions">
            <h4>Kaip atvykti?</h4>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2336.303057654136!2d24.746353076767413!3d54.15699507253552!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46de13bcdb6d3cb5%3A0x2c932439bb0a001d!2sMi%C5%A1ko%20terapija!5e0!3m2!1slt!2slt!4v1689167098352!5m2!1slt!2slt" width="1312" height="500" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            <p>Pasivaikščiojimas miške gali būti galinga priemonė atsipalaiduoti ir atgauti vidinę pusiausvyrą. Jei ieškote vietos, kur galėtumėte susijungti su gamta ir pasimėgauti tyliu ramumu, tai puikus pasirinkimas būtų miško terapijos kabina, esanti netoli Varėnos.
                Ši kabina yra pilna žaliųjų miško tonų ir aplink ją sklinda tyrumo ir ramybės atmosfera. Ji pasižymi šiuolaikišku ir ekologišku dizainu, derinant gamtos elementus su patogumu. Kabina aprūpinta visais reikalingais patogumais, kad jūsų viešnagė būtų patogi ir maloni. Čia rasite jaukią miegamąją, pilnai įrengtą virtuvę ir patogią vonią, kurioje galėsite atsipalaiduoti po ilgo pasivaikščiojimo miške.</p>
        </div>
    </main>
    <footer>
        <div class="footer-content">
            <div class="logo">
                <a href="{% url 'home' %}">
                <img src="{% static 'home/image/forest_footer.png' %}">
                </a>
            </div>
            <div class="info">
                <div class="location">
                    <a href="https://goo.gl/maps/hKvNTVcg1Ni4T4Ho8">
                    <img src="{% static 'home/image/pin_drop.png' %}">
                    </a>
                    <div class="adress">
                        <p>Miško terapija</p>
                        <p>Žukonys</p>
                        <p>Varėna, 65248,</p>
                        <p>Lietuva</p>
                    </div>
                </div>
                <div class="social">
                    <div class="social-media">
                        <a href="https://www.facebook.com/miskoterapija.lt">
                        <img src="{% static 'home/image/facebook.png' %}">
                        </a>
                        <p>Facebook</p>
                    </div>
                    <div class="social-media">
                        <a href="https://www.instagram.com/misko__terapija/">
                        <img src="{% static 'home/image/instagram.png' %}">
                        </a>
                        <p>Instagram</p>
                    </div>
                    <div class="social-media">
                        <img src="{% static 'home/image/call.png' %}">
                        <p>+37066763845</p>
                    </div>
                    <div class="social-media">
                        <a href="mailto: misko.terapijai@gmail.com">
                        <img src="{% static 'home/image/mail.png' %}">
                        </a>
                        <p>misko.terapijai@gmail.com</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="rights">
        <p> &copy; 2023 Miško terapija. Visos teisės saugomos. </p>
        </div>
    </footer>    
</body>
</html>
