{% extends 'base.html' %}
{% block content %}
<div class="container block">
    {% if user.is_staff %}
        <a href="{% url 'gallery_update' %}">Redaguoti galerija<i class="fas-house">&#xf044;</i></a>
    {% endif %}
    <div class="carousel">
        <ul class="carousel__items">
            {% for image in gallery %}
                <li class="carousel__item" style="opacity: 0;"><img src="{{ image.photo.url }}" alt=""></li>
            {% endfor %}
        </ul>
        </div>
    </div>
</div>
<script>
    // JavaScript to enable slideshow functionality
    const slides = document.querySelectorAll('.carousel__item');
    let currentSlide = 0;

    slides[0].style.opacity = 1;
  
    function showSlide(slideIndex) {
      slides.forEach((slide) => (slide.style.opacity = 0));
      slides[slideIndex].style.opacity = 1;
    }
  
    function nextSlide() {
      currentSlide = (currentSlide + 1) % slides.length;
      showSlide(currentSlide);
    }
  
    // Automatically change slide every 5 seconds (5000 milliseconds)
    setInterval(nextSlide, 5000);
</script>
{% endblock content %}
